<section class="row-margin">
  <header class="space-between">
    <span>Comment {{incr @index}}</span>
    <span class="font-normal">... made by {{user_name}} on {{ format_date comment_date }}</span>
  </header>
  <section class="margin-text">
    {{comment_text}}
  </section>
</section>