<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <nav>
    <a href="/">Home</a>
    <a href="/api/dashboard/blogpost">Dashboard</a>
    <a href="/api/users/login">Login</a>
    <a id="logout-link" href="/">Logout</a>
  </nav>
  <main>
    <section class="blog">
      {{{body}}}
    </section>
  </main>
  <script src="/js/logout.js"></script>
</body>

</html>