<section>
    <h1 class="color-light">Your Dashboard</h1>
</section>

{{#if loggedIn}}
    <section class="height-fixed">
        <a class="color-link margin-text-extra-wide" href="/api/dashboard/newblogpost">Click here to enter new blog post</a>
    </section>
    <section>
        <p class="margin-text-extra-wide font-size-normal">Click on blog post to update or delete it</p>
    </section>
{{else}}
    <section class="height-fixed">
        <p class="margin-text-extra-wide font-size-normal">Your Blog Posts</p>
    </section>
{{/if}}

{{#each blogPosts as |blogPost|}}
    {{> dashboard-blog-post-details}}
{{/each}}
