<section>
    <h1 class="color-light">The Tech Blog</h1>
</section>

<div class="row-custom">
  <div class="login-card">
    <h2>Sign Up</h2>
    <form class="form" id="signup-form">
      <div class="form-group">
        <label for="user-signup">Username</label>
        <input class="form-input" type="text" id="user-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Sign Up!</button>
      </div>
    </form>
    <a href="/api/users/login">Login instead</a>
  </div>
</div>

{{!-- This sources signup.js Javascript folder; ./js relative to express.static 
declaration for 'public'. --}}
<script src="/js/signup.js"></script>